.form{
    width: 100%;
    min-height: 75vh;
}

.filter-leftcolumn{
    float: left;
    width: 40%;
    margin-left: 0;
}
  
.filter-rightcolumn{
    float: right;
    width: 40%;
    margin-right: 0;
}

.filter-field{
    width: 100%;
    height: 100%; 
    min-width: 150px;
}

.table-group{
    width: 100%;
    overflow-x: auto;    
}

.table-sort th[role=columnheader]{
    overflow: hidden; 
    text-overflow:ellipsis;
}

.table-sort .colName{
    min-width: 10px;
    max-width: 30%;
    overflow: hidden; 
    text-overflow:ellipsis;
}

.table-sort .colDate{
    width: 20px;
}

.table-sort .colLang{
    width: 20px;
}

.table-sort .colDesc{
    min-width: 30px;
    max-width: 30%;
    overflow: hidden; 
    text-overflow:ellipsis;
}

.table-sort .colImage{
    width: 20px;
}

.table-sort .colAction{
    width: 20px;
}

.table-sort .colAction button{
    display: block;
}
