.group-grid-form{
    height: 100%;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 10px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
   }

.hr {
    display: flex;
    justify-content: space-between;
}

.mat-sort-header-container {
    align-items: center;
}

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
} 