<div class="row">
    <div class="col-md-4">
        <app-group-add-or-update (groupCreated)="createOrUpdateGroup($event)" [groupInfo]="currentGroup"></app-group-add-or-update>
    </div>
    <div class="col-md-8">
        <h2 *ngIf="!groupInfo || groupInfo.id === undefined">Add record</h2>
        <h2 *ngIf="groupInfo && groupInfo.id !== undefined">Update record (ID: )</h2>
        <app-group-grid [(groupData)]="groupData" (editClicked)="editClicked($event)" (createClicked)="createClicked($event)" (removeClicked)="removeClicked($event)"></app-group-grid>
    </div>
  </div>


