<div class="row">
    <div class="col-md-4">
        <app-group-add-or-update (groupCreated)="createOrUpdateGroup($event)" [groupInfo]="currentGroup">
        </app-group-add-or-update>
    </div>
    <div class="col-md-8">
        <app-group-grid [(groupData)]="groupData" [(length)]="numberElements" [defaultPageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions" (editClicked)="editClicked($event)"
            (createClicked)="createClicked($event)" (removeClicked)="removeClicked($event)" (refreshPage)="refreshPage($event)"></app-group-grid>
    </div>
</div>