<div class="container">  
  
  <mat-card>  
    <mat-toolbar color="accent">  
      <div align="center" style="color:white;text-align: right;">  
        Group planning  
      </div>    
    </mat-toolbar>  
  <br><br>  
    <mat-card-content>  
      <form [formGroup]="groupForm"(ngSubmit)="onFormSubmit(groupForm.value)">  
          <table>  
            <tr>  
              <td class="tbl1">  
                <mat-form-field class="demo-full-width">  
                  <input formControlName="Name" matTooltip="Enter group title" matInput placeholder="Title">  
                </mat-form-field>  
                <mat-error>  
                  <span *ngIf="!groupForm.get('Name').value && groupForm.get('Name').touched"></span>  
                </mat-error>  
              </td>  
              <td class="tbl1">  
                <mat-form-field class="demo-full-width">  
                  <input matInput [matDatepicker]="picker"matTooltip="Choose date" formControlName="Date"placeholder="Date">  
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                  <mat-datepicker #picker></mat-datepicker>  
                </mat-form-field>  
                <mat-error>  
                  <span *ngIf="!groupForm.get('Date').value && groupForm.get('Date').touched"></span>  
                </mat-error>  
              </td>  
              <td class="tbl1">  
                <mat-form-field class="demo-full-width">  
                  <input formControlName="LanguageId" matTooltip="Enter language" matInput placeholder="Language">  
                </mat-form-field>  
                <mat-error>  
                  <span *ngIf="!groupForm.get('LanguageId').value && groupForm.get('LanguageId').touched"></span>  
                </mat-error>  
              </td>  
            </tr>  
            <tr>   
              <td class="tbl1">  
                <mat-form-field class="demo-full-width">  
                  <input matTooltip="Enter description"formControlName="Description" matInput placeholder="Description">  
                </mat-form-field>  
                <mat-error>  
                  <span *ngIf="!groupForm.get('Description').value && groupForm.get('Description').touched"></span>  
                </mat-error>  
              </td>  
              <td class="tbl1">  
                <mat-form-field class="demo-full-width">  
                  <input formControlName="Picture" matTooltip="Enter picture" matInput placeholder="Picture">  
                </mat-form-field>  
                <mat-error>  
                  <span *ngIf="!groupForm.get('Picture').value && groupForm.get('Picture').touched"></span>  
                </mat-error>  
              </td>  
            </tr>  
            <tr>  
              <td></td>  
              <td  class="content-center">  
                <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!groupForm.valid">Submit</button>      
                <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
              </td>  
              <td>  
                <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                  {{massage}}  
                </p>  
              </td>  
            </tr>  
          </table>  
          <br><br>  
        <table class="table" >  
          <tr ngclass="btn-primary">  
            <th class="tbl2">Title</th>  
            <th class="tbl2">Date</th>  
            <th class="tbl2">Language</th>  
            <th class="tbl2">Description</th>  
            <th class="tbl2">Picture</th>  
            <th class="tbl2">Edit</th>  
            <th class="tbl2">Delete</th>  
          </tr>  
          <tr *ngFor="let group of allGroups | async">  
            <td class="tbl2">{{group.name}}</td>  
            <td class="tbl2">{{group.date | date }}</td>  
            <td class="tbl2">{{group.languageId}}</td>  
            <td class="tbl2">{{group.description}}</td>  
            <td class="tbl2">{{group.picture}}</td> 
            <td class="tbl2">  
              <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadGroupToEdit(group.id)">Edit</button>  
            </td>  
            <td class="tbl2">  
              <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteGroup(group.id)">Delete</button>  
            </td>  
          </tr>    
        </table>  
      </form>  
    </mat-card-content>  
  </mat-card>  
  </div>