.row {
    width: 980px; /* Ширина макета */
    margin: auto; /* Выравнивание по центру */
}

.row.col-md-4 {
    width: 500px; /* Ширина макета */
}

.row.col-md-8 {
    left: 500px; /* Сдвиг вправо */
    width: 480px; /* Ширина макета */
}