<div>
    <h2></h2>
    <form class = group-add-or-update-form>
      <div class="form-group">
          <mat-form-field class = group-add-or-update-form-field>
              <input matInput type="text" placeholder="Name" [(ngModel)]="groupInfo.name" name="name">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="groupInfo.name=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class = group-add-or-update-form-field>
          <mat-label>Date</mat-label>
          <input matInput [ngModel]="groupInfo.date | date: 'yyyy-MM-dd'" [matDatepicker]="from" (ngModelChange)="updateDate($event)" placeholder="Choose a date" name="date">        
          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
          <mat-datepicker #from></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group">
          <mat-form-field class = group-add-or-update-form-field>
              <mat-label>Language</mat-label>
              <mat-select [(ngModel)]="groupInfo.languageId" name="languageId">
                <mat-option *ngFor="let language of languages" [value]="language.id">{{language.name}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="form-group">
          <mat-form-field class = group-add-or-update-form-field>
              <input matInput type="text" placeholder="Description" [(ngModel)]="groupInfo.description" name="description">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="groupInfo.description=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
      </div>
      <div class="form-group">
          <mat-form-field class = group-add-or-update-form-field>
              <input matInput type="text" placeholder="Picture" [(ngModel)]="groupInfo.picture" name="picture">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="groupInfo.picture=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
      </div>
      <div class="tbl2">  
          <button type="button" class="btn btn-info" (click)="addOrUpdateGroupRecord($event)">Save</button>  
      </div>
    </form>

      <!-- <div class="form-group">      
          <label for="date-input">Date:</label>
          <input type="date" id="date-input" [ngModel]="groupInfo.date | date: 'yyyy-MM-dd'" (ngModelChange)="updateDate($event)" class="form-control" name="date"/>
      </div> -->
      <!-- <label for="name-input">Name</label>
      <input type="string" id="name-input" [(ngModel)]="groupInfo.name" class="form-control" name="name"/> -->
            <!-- <div class="form-group">
          <label for="description-input">Description</label>
          <input type="string" id="description-input" [(ngModel)]="groupInfo.description" class="form-control" name="description"/>
      </div> -->
            <!-- <div class="form-group">
          <label for="picture-input">Picture</label>
          <input type="string" id="picture-input" [(ngModel)]="groupInfo.picture" class="form-control" name="picture"/>
      </div> -->