<mat-card class=group-add-or-update-form>
  <mat-card-header>
    <div mat-card-avatar class="group-add-or-update-form-header-image"></div>
    <mat-card-title *ngIf="groupInfo.id === 0">Add record</mat-card-title>
    <mat-card-title *ngIf="groupInfo.id != 0">Edit record</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class=group-add-or-update-form-field>
      <input matInput type="text" placeholder="Name" [(ngModel)]="groupInfo.name" name="name" autocomplete="off">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="groupInfo.name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class=group-add-or-update-form-field>
      <mat-label>Date</mat-label>
      <input matInput [(ngModel)]="groupInfo.date" [matDatepicker]="from" placeholder="Choose a date" name="date">
      <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
      <mat-datepicker #from></mat-datepicker>
    </mat-form-field>
    <mat-form-field class=group-add-or-update-form-field>
      <mat-label>Language</mat-label>
      <mat-select [(ngModel)]="groupInfo.languageId" name="languageId">
        <mat-option *ngFor="let language of languages" [value]="language.id">{{language.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class=group-add-or-update-form-field>
      <textarea matInput matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
        placeholder="Description" [(ngModel)]="groupInfo.description" name="description" autocomplete="off"></textarea>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="groupInfo.description=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <input #fileInput type="file" accept='image/*' (change)="preview(fileInput.files)" style="display: none" />
    <button mat-button type="button" class="btn btn-info" (click)="fileInput.click()">Select File</button>
    <span *ngIf="uploadProgress > 0 && uploadProgress < 100">
      {{uploadProgress}}%
    </span>
    <img #imgq class=group-add-or-update-form-image-preview [src]="imgURL" height="200" *ngIf="imgURL">
    <span style="color:red;" *ngIf="message">{{message}}</span>
  </mat-card-content>





  <mat-card-actions>
    <div style="width: 100%; height: 30px; text-align: right">
      <span style="float: left">
        <button mat-button type="button" class="btn btn-info" (click)="newRecord($event)">{{buttonTextNew}}</button>
      </span>
      <button mat-button type="button" class="btn btn-info"
        (click)="addOrUpdateGroupRecord($event)">{{buttonTextSave}}</button>
    </div>
  </mat-card-actions>
</mat-card>