body {
    width: 100%; /* Ширина макета */
    height: 100%;
    margin: auto; /* Выравнивание по центру */
  }

  .container {
    width: 100%; /* Ширина макета */
    height: 100%;
    margin: auto; /* Выравнивание по центру */
  }