<footer class="page-footer font-small cyan darken-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <mat-icon>facebook</mat-icon>        
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mat-icon>twitter</mat-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mat-icon>linkedin</mat-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mat-icon>instagram</mat-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <mat-icon>pinterest</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Lingva.com</a>
  </div>
</footer>